<!doctype html>
<html lang="eng" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template example</title>
</head>
<body>

    <p>
        <span>Поточний час по UTC: </span> <span th:text="${time}"></span>
    </p>


    <form>
        <label for="timezoneInput">Введіть часовий пояс: </label>
        <br>
        <input type="text" id="timezoneInput" name="timezone">
        <input type="submit" value="Надіслати">
    </form>


</body>
</html>